body{
	margin: 0;
	background-color: #000000;
}

nameIndex{
	margin-top: 22.5%;
	color: white;
	text-align: center; 
	font-style: italic
}

a.indexName: link{
	text-decoration: none;
}

a.indexName: hover{
	font-weight: bold;	
}
