body{
	margin: 0;
	background-color: #FFFFFF;
}

#indexName{
	margin-top: 25%;
	color: white;
	text-align: center; 
	font-style: italic
}

#indexName a: link{
	font-style: none;
}

#indexName a: hover{
	font-weight: bold;	
}
