body{
	margin: 0;
	background-color: #000000;
}

.nameIndex{
	margin-top: 22.5%;
	text-align: center;
}

.nameIndex a{
	font-style: italic;
	color: white;
}

.nameIndex a:link{
	text-decoration: none;
}

.nameIndex a:hover{
	font-weight: bold;	
}

.nameIndex a:visited{
	color: #000000;
	text-decoration: none;
}
